@media screen and (max-width: 768px) {
  .padding
  {
    position: relative;
    margin-bottom:10%;
    
  }

 
   
  .text {
    display: grid;
    grid-template-columns: 1fr  ;
    margin-top: -130px;
    margin-left: 220px;
    margin-bottom: 20px;
  }
  .image {
    
    height: 134px;
  }
 
  .column {
    width: 100%;
    float: none;
    position: static;
    width:auto;
  }
}
 

* {
  box-sizing: border-box;
}
 

  .banner-container
  {
    max-width: 720px;
    max-height: 300px;
    margin: 0 0 27px;
   
  }
  .content-container
  {
    max-width: 720px;
    max-height: 300px;
    margin: 0 0 27px;
   
   
  }

  

  .banner-image
  {
    max-width:100%;
    height:auto;
  }

.banner-text {
  position: absolute;
  top: 10%;
  left: 7.5%;
   
  max-width: 201px;
  max-height: 28px;
  margin: 0 93px 100px 0;
  font-family: Quicksand;
  font-size: 22.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.banner-text-small 
{
  position: absolute;
  top: 16.875%;
  left: 7.5%;

  width: 292px;
  height: 34px;
  margin: 5px 0 12.5px 2px;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #ffffff;
}

.button-learn
{
  position: absolute;
  top: 23%;
  left: 7.5%;

  width: 83.5px;
  height: 24px;
  margin: 12.5px 208.5px 0 2px;
  text-align: center;
  border-radius: 2px;
  background-color: #de6c17;
}

.button-text
{
  width: 50px;
  height: 11.5px;
  font-family: Quicksand;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.banner-wave {
  width: 720px;
  
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0),grey 35%);
  object-fit: contain;
}

.content-header
{
    position: relative;
    left:25%;

    width: 137.5px;
    height: 28px;
    
    font-family: Quicksand;
    font-size: 22.5px;
    font-weight: bold; 
   font-stretch: normal  ;
   font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #36413c;

}

.content-text
{
  position: absolute;
   

  max-width: 344.5px;
  min-width:  126.5px;
 
  margin-left: 15%;
   
   
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #5e6e66;
     
}
 

.content-image
{
  width: 190px;
  height: 133px;
  margin: 0 0 2%;
}

.container-dogs
{
  
  margin: 12.5px 91.5px 5px 12.5px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36413c;
}

.container-dogs-desc {

  max-width: 165px;
  max-height: 65px;
  margin: 5px 12.5px 10px;
  font-family: Quicksand;
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #5e6e66;

}

.link-learn-more
{
  width: 50px;
  height: 11.5px;
  margin: 10px 4.5px 0 12.5px;
  font-family: Quicksand;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #de6c17;
}

 
.column {
  float: left;
  min-width: 140px;
  
  margin-left: 3%;
  border-radius: 4px;
  box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;

  margin-top:3%;
  margin-left: 3%;
}
/* Clear floats after the columns */
 

.row:after {
  content: "";
  display: table;
  clear: both;
}
 
.padding
{
  position: relative;
  margin-bottom: 40px;
}

